<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @cargo.name %>
</p>

<p>
  <strong>Enologo:</strong>
  <%= @cargo.enologo_id %>
</p>

<p>
  <strong>Revista:</strong>
  <%= @cargo.revista_id %>
</p>

<%= link_to 'Edit', edit_cargo_path(@cargo) %> |
<%= link_to 'Back', cargos_path %>
